


{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap3 %}



{% block body %}
<!-- Jumbotron -->
    <style>
	#trucklink {
	    background: #707373;
	    color: #500000;
	}
    </style>
<div class="container content">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="text-center">Coming soon to our members!</h1>
            <hr />
            <ul>
                <li>item 1</li>
                <li>item 2</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
