{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap3 %}


{% block body %}
    <style>
	#contactlink {
	    background: #707373;
	    color: #500000;
	}
    </style>
<div class="container content">
    <div class="col-lg-2" style="margin-top: 2em;">
    </div>
    <div class="col-lg-8">
        <h1 class="text-center">Contact us</h1>
        <form role="form" action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn my-btn" style="background-color: #500000; margin-bottom: 2em;" type="submit">Submit</button>
        </form>
    </div>
    <div class="col-lg-2">
    </div>
</div>
{% endblock %}
