



{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap3 %}


{% block body %}
<div class="container content">
    <div class="col-lg-2" style="margin-top: 2em;">
    </div>
    <div class="col-lg-8">
        <h1>Create operating hours for {{ truck.truck_name }}</h1>
        <form action="" method="post">{% csrf_token %}
            {% bootstrap_form form %}
            <!-- create truck form populated here from views.py -->
            <input class="btn my-btn" style="background-color: #500000; margin-bottom: 2em;" type="submit" value="Save" />
        </form>
    </div>
    <div class="col-lg-2">
    </div>
</div>
{% endblock %}
