

{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap3 %}



{% block body %}
<!-- Jumbotron -->
    <style>
	#trucklink {
	    background: #707373;
	    color: #500000;
	}
    </style>
<div class="container content">
    <div class="panel panel-default col-lg-3" style="margin-top: 2em;">
            <!-- truck settings nav panel -->
        <div class="panel-heading"><strong>{% trans "Settings" %}</strong></div>
        <div class="list-group">
            <a class="list-group-item account-settings" href="{% url "website:truck-update" pk=truck.id %}">
                {% trans "Truck Information" %}
            </a>
            <a class="list-group-item account-password" href="{% url "website:truck-menuitem-list" pk=truck.id %}">
                {% trans "Menu" %}
            </a>
            <a class="list-group-item account-password" href="{% url "website:truck-location-list" pk=truck.id %}">
                {% trans "Locations" %}
            </a>
            <a class="list-group-item account-password" href="{% url "website:truck-hours-list" pk=truck.id %}">
                {% trans "Truck Hours" %}
            </a>
            <a class="list-group-item account-delete" href="{% url "website:truck-delete" pk=truck.id %}">
                {% trans "Delete Truck" %}
            </a>
        </div>
    </div>
    <div style="margin-bottom: 2em;" class="col-lg-9">
        <div class="row">
            <div class="col-lg-9">
                <h2> Viewing Locations of {{ truck.truck_name }}</h2>
            </div>
            <div class="col-lg-3">
                <a style="background-color: #500000; margin-top: 1.5em;" class="btn my-btn" href="{% url 'website:truck-location-create' pk_truck=truck.id %}" role="button">Create New Location</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <!-- displays all locations for this truck -->
            {% for location in object_list %}
                {% if truck == location.truck %}
                <div class="col-lg-12 col-sm-12">
                    <h3>Location: {{ location.latitude }}, {{ location.longitude }}</h3>
                    <p>Start time: {{ location.start_time }}</p>
                    <p>End time: {{ location.end_time  }}</p>
                    <p>Day: {{ location.day }}</p>
                    <div class="btn-group">
                        <a style="background-color: #500000;" class="btn my-btn" href="{% url 'website:truck-location-update' pk=location.id %}" role="button">Edit location</a>
                        <a style="background-color: #500000;" class="btn my-btn" href="{% url 'website:truck-location-delete' pk=location.id %}" role="button">Delete location</a>
                    </div>
                </div><!-- /.col-lg-4 -->
                {% endif %}

            {% empty %}
            <h2 class"text-center">No locations stored for {{ truck.truck_name }}</h2>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
