

{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap3 %}


{% block body %}

<div class="container content">
    <div class="panel panel-default col-lg-3" style="margin-top: 2em;">
        <!-- truck settings panel  -->
        <div class="panel-heading"><strong>{% trans "Settings" %}</strong></div>
        <div class="list-group">
            <a class="list-group-item account-settings" href="{% url "website:truck-update" pk=object.truck.id %}">
                {% trans "Edit Truck Information" %}
            </a>
            <a class="list-group-item account-password" href="{% url "website:truck-menuitem-list" pk=object.truck.id %}">
                {% trans "Edit Menu" %}
            </a>
            <a class="list-group-item account-password" href="{% url "website:truck-location-list" pk=object.truck.id %}">
                {% trans "Edit Locations" %}
            </a>
            <a class="list-group-item account-password" href="{% url "website:truck-hours-list" pk=object.truck.id %}">
                {% trans "Edit Truck Hours" %}
            </a>
            <a class="list-group-item account-delete" href="{% url "website:truck-delete" pk=object.truck.id %}">
                {% trans "Delete Truck" %}
            </a>
        </div>
    </div>
    
    <div class="col-lg-9">
        <h2> Update {{ menu_item.item_name }}</h2>
        <hr />
        <form action="" method="post">{% csrf_token %}
            {% bootstrap_form form %}
            <input class="btn my-btn" style="background-color: #500000; margin-bottom: 2em;" type="submit" value="Update" />
        </form>
    </div>
</div>
{% endblock %}
