

{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap3 %}


{% block body %}
<div class="container content" style="max-width: 60%;">
    <div class="row" style="margin-top: 2em;">
        <div class="col-lg-12 col-sm-12">
            <form action="" method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <input class="btn my-btn" style="background-color: #500000; margin-bottom: 2em;" type="submit" value="Confirm" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
