{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap3 %}



{% block body %}
<!-- Jumbotron -->
    <style>
	#trucklink {
	    background: #707373;
	    color: #500000;
	}
    </style>
    <div id="jumbo1" class="jumbotron">
        <h1 class="text-center">Howdy!</h1> 
        <p class="text-center">Check out our Trucks</p>
    </div>
    <div class="container content">
        <hr />
        <div class="row">
            {% for truck in object_list %}
                <div class="col-lg-4 col-sm-4">
                    <img class="img-circle center-block" src="{{ truck.truck_picture.url }}" alt="{{ truck.truck_name}}" width="140" height="140">
                    <h2 class="text-center">{{ truck.truck_name }}</h2>
                    <p class="text-center">{{ truck.short_description }}</p>
                    <p class="text-center"><a style="background-color: #500000;" class="btn my-btn" href="{% url 'website:truck-detail' pk=truck.id %}" role="button">View Truck</a></p>
                </div><!-- /.col-lg-4 -->
            {% empty %}
                <h2 class"text-center">Content coming soon</h2>
            {% endfor %}
        </div>
    </div>
{% endblock %}
