
{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap3 %}


{% block body %}
<style>
    #truckcreate {
        background: #707373;
        color: #500000;
    }
</style>
<div class="container content">
    <div class="col-lg-2" style="margin-top: 2em;">
    </div>
    <div class="col-lg-8">
        <h1>Create a Truck</h1>
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {% bootstrap_form form %}
            <input style="margin-bottom: 2em"type="submit" value="Next" />
        </form>
    </div>
    <div class="col-lg-2">
    </div>
</div>
{% endblock %}
